body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffbc96;
  }
  
  header {
    background-color: #5f2525;
    color: #d3d3d3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #a3a3a3;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  article {
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.829);
  }
  
  article img {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
  }
  
  article h2 {
    margin-top: 0;
  }
  
  footer {
    background-color: #6d6d6d;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  article:hover{
    background-color: #dddddd;
  }